.invite__list {
  display: flex;
  gap: 10px;
}

.modal-form__item .link {
  color: $accent-color;
}

.invite__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  

  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background-color: #2196f3;
}
}

.invite__icon {
  fill: $primary-white-color;
}

.subscribe__icon {
  margin: auto;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}


.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $secondary-background-color;
  width: 358px;
  height: 50px;
  color: $primary-white-color;
  padding: 16px;
  padding-right: 0px;
  margin-right: 12px;
}

.subscribe {
  margin-left: 93px;
  justify-content: center;
 align-items: center;
}

.subscribe__submit { 
  display: flex;
}

.subscribe__submit-btn {
  display: flex;
  width: 200px;
  padding: 10px 28px;
  height: 50px;
  background-color: $accent-color;
  color: $primary-white-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
&:hover {
  background-color: #188ce8;
}
}



.subscribe__title {
  margin-bottom: 20px;
  font-family: $primary-fonts;
  font-weight: 700;
  line-height: 16px;
  color: $primary-white-color;
  text-transform: uppercase;
}

.invite__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}