
.button-filter {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
  }

.filter-button {
    border-radius: 4px;
    border: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 6px 25px;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: $additional-background-color;
    color: $title-text-color;
  
    transition-property: background-color color box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  
 