.team__title {
    margin-bottom: 50px;
    color: $title-text-color;
    font-family: $primary-fonts;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: $title-text-color;
  }
  
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $additional-background-color;
  }
  
  .team__person-textblock-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  
    color: $title-text-color;
  }
  
  
  
  .team__list {
    display: flex;
    margin-right: 0px;
  }
  
  
  .team__item {
    margin-right: 30px;
    width: 270px;
    text-align: center;
  
  
    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:nth-child(4n) {
      margin-right: 0px;
    }
    }
  
 
  .team__person-textblock-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  
  .team__person-textblock {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team__social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .team__social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
  
  .team__social-icon {
    fill: #AFB1B8;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .team__social-link:hover &,
    .team__social-link:focus &  {
      fill: $primary-white-color;
    }
    
  }
  
  
 